<!DOCTYPE html>
<html>
{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}


{% block content %}
<head>
</head>
<body>
  <p>Komentarzy po filmem</p>
  <form action="{{url_for('coments')}}" method="post">
    <input type="text" name="id_film" placeholder="id filmu" id="id_film" required>
    <br>
    <input type="text" name="key_api" placeholder="klucz api" id="key_api" required>
    <br>
    <input type="text" name="count" placeholder="ilosć komentazry" id="count" required>
    <br>
    <input type="submit" value="Wykonaj">
  <form>
    <br>
    <table border="1">
      <tr>
        <td>Nazawa kanłu</td><td>text</td><td>data przesłania</td><td>Like</td><td>Ilość Odpowiedźi</td>
      </tr>
      {% for test in tab %}
      <tr>
        <td>{{test.name}}</td><td>{{test.description}}</td><td>{{test.date}}</td><td>{{test.like_count}}</td><td>{{test.reply_count}}</td>
      </tr>
      {% endfor %}
    </table>
</body>
</html>
{%endblock %}